.Dog{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Dog-img{
    width: 300px;
    border-radius: 50%;
}

.Dog-info{
    text-align: left;
}

p{
    margin: 0.5rem;
}

.Dog-facts{
    margin: 0;
}

.return-link{
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    border: 2px solid salmon;
    color: salmon;
    font-weight: bold;
    text-decoration: none;
}

.return-link:hover{
    background-color: salmon;
    color: white;
}